
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.Formulario{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}